<section>
  <h1>Acerca de...</h1>
  <img src="{{ root_url }}/images/avatar.png" class="center">
  <p><a href="https://my.secondlife.com/tiaeld.tolsen">Tiaeld Tolsen</a> (o <a href="http://www.xpktro.com">la persona detrás de él</a>). Residente desde 2007, Scripter Profesional desde 2010.</p>

  <p>Hice muchas cosas durante mi segunda vida, algo de artes, bastante código y algunas que otras series de clases para hispanohablantes. En algún momento llegué a saberme casi todas la funciones de memoria, pero la Vida Real pudo más. </p>
</section>
